body {
    background-color: rgb(232, 234, 237);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image {
    width: 270px;
    margin-top: 50px;
}

.title {
  margin-top: 25px !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;
  text-align: center;
}

.describle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;
    font-size: 1.5rem !important;
    text-align: center;
}

@media (max-width: 770px) {
    .container {
        margin: 0 10%;
    }

    .image {
        width: 100%;
    }

    .title {
        margin-top: 25px !important;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;
        text-align: center;
    }

    .describle {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;
        font-size: 1rem !important;
        text-align: center;
    }
}